h1 {
	text-align: center;
	margin-bottom: 15px;
}

div {
	border: 1px solid #000;
}

.chicken {
	background-color: #67BFFA;
}

.beef {
	background-color: #5279E4;
}

.sushi {
	background-color: #6AFDD3;
}

.chicken .beef .sushi {
	border: 1px solid #gray;
	margin-bottom: 15px;
	float: left;
}